<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.5;
      background-color: #f7f7f7;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 24px;
      color: #333;
      margin: 0 0 20px;
    }

    p {
      font-size: 16px;
      color: #555;
      margin: 0 0 10px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      font-size: 16px;
      transition: background-color 0.3s;
    }

    .button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Đăng ký thành công! - Chào mừng đến với Cộng đồng của chúng tôi</h1>
    <p>Xin Chàp {{name}},</p>
    <p>Chúng tôi vui mừng thông báo với bạn rằng đăng ký của bạn với cộng đồng của chúng tôi đã thành công! Chào mừng bạn lên tàu và cảm ơn bạn đã tham gia cùng chúng tôi.</p>
    <p>Để nâng cao trải nghiệm của bạn, chúng tôi đã chuẩn bị một hướng dẫn ngắn gọn để giúp bạn bắt đầu:</p>
    <ol>
      <li>Khám phá nền tảng của chúng tôi: Hãy dành chút thời gian để điều hướng qua trang web của chúng tôi và làm quen với các tính năng và phần khác nhau có sẵn. Chúng tôi khuyến khích bạn đi sâu vào các cuộc thảo luận đa dạng, tương tác với các thành viên khác và khám phá các tài nguyên có giá trị.</li>
      <li>Cập nhật thông tin: Đừng bỏ lỡ các cập nhật, thảo luận và thông báo mới nhất. Đăng ký nhận bản tin của chúng tôi để nhận thông tin cập nhật thường xuyên trực tiếp trong hộp thư đến của bạn. Hãy theo dõi các sự kiện sắp tới, các ưu đãi độc quyền và các cơ hội thú vị.</li>
    </ol>
    <p>Nếu bạn gặp phải bất kỳ vấn đề nào hoặc có bất kỳ câu hỏi nào, nhóm hỗ trợ của chúng tôi luôn sẵn sàng hỗ trợ bạn. Vui lòng liên hệ với chúng tôi tại <a href="mailto:support@email.com">support@email.com</a>.
    </p>
    <p>Cảm ơn bạn một lần nữa vì đã trở thành một phần của cộng đồng sôi động của chúng tôi. Chúng tôi rất vui khi có bạn tham gia cùng chúng tôi và mong được thấy bạn tích cực đóng góp và tương tác với các thành viên khác.</p>
    <p>Trân trọng,<br>Van Trong<br>CEO Yen Sao Khanh Hoa</p>
  </div>
</body>
</html>
