<h2>Yến sào Khánh Hoà - Đăng ký thành công</h2>

<p>Hey {{ name }},</p>
<p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi</p>
<p>Hi vọng bạn sẽ có 1 trải nghiệm mua sắm tuyệt vời</p>

<p>Nếu có bất kỳ yêu cầu gì hãy liên hệ với chúng tôi qua</p>
